body {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  overflow: hidden;
  margin: 0;
  background-color: #63AFD0;
}

button:focus {
  outline: none;
}

button:hover {
  cursor: pointer;
}

.back {
  background-color: #63AFD0;
  width: 100%;
  height: 100%;
}

.box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 50px;
  height: 50px;
  background: #EDFC72;
  position: absolute;
  left: 0;
  top: 0;
}

.score {
  position: absolute;
  top: 10px;
  left: 10px;
  font-family: sans-serif;
  font-size: 30px;
  font-weight: 600;
  color: #d12a4b;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  z-index: 2;
}

.health {
  position: absolute;
  top: 10px;
  right: 10px;
  font-family: sans-serif;
  font-size: 30px;
  font-weight: 600;
  color: #d12a4b;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  z-index: 2;
}

.start-game {
  display: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 3;
  background-color: rgba(0, 0, 0, 0.4);
}

.start-game_text {
  font-family: sans-serif;
  font-size: 60px;
  font-weight: 600;
  color: #d12a4b;
}

.start-game_button {
  border: none;
  border-radius: 30px;
  font-family: sans-serif;
  font-size: 20px;
  font-weight: 600;
}

.game-over {
  display: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 3;
  background-color: rgba(0, 0, 0, 0.4);
}

.game-over_text {
  font-family: sans-serif;
  font-size: 60px;
  font-weight: 600;
  color: #d12a4b;
}

.game-over_button {
  border: none;
  border-radius: 30px;
  font-family: sans-serif;
  font-size: 20px;
  font-weight: 600;
}

.number-level {
  display: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 3;
  background-color: rgba(0, 0, 0, 0.4);
}

.number-level_text {
  font-family: sans-serif;
  font-size: 60px;
  font-weight: 600;
  color: #d12a4b;
}
/*# sourceMappingURL=main.css.map */